.container {
  min-width: 235px;

  border: none;
  margin-top: 20px;
  border-left: #686868 1px solid;
  border-right: #686868 1px solid;
  border-bottom: #404040 1px solid;
  border-radius:7px;
  -webkit-box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.32);
  overflow:hidden;
  -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.col {
  text-align: center;
  padding: 5px;
  font-size:20px;
  border-right: 1px solid #8E8E8E;
  border-bottom: 1px solid #8E8E8E;
  line-height: 37px;
}

.container:first-of-type {
  max-width: 230px;
}

.container .row {
  background: #E0E0E0;
}

.container .row:first-of-type {
  background: none;
  height: 80px;
}


.container .row:first-of-type .col {
  font-size: 50px;
  padding-top:30px;
  padding-right: 14px;
  font-weight: lighter;
}

.container .row:first-of-type+.row {
  background: #D6D6D6;
}

.container .row:last-of-type {
  background: #D6D6D6;
}

.container .row:last-of-type .col {
  border-bottom: none;
}

.container .row:last-of-type .col:first {
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
}

.col-6 {
  text-align: left;
  padding-left: 20px;
  margin-left: 1px;
}

.container .col-6+.col-3 {
  border-right: none;
}

.container .row:last-of-type .col:first {
  margin-left: -1px;
}

.container .row:last-of-type .col {
  margin-left: 0px;
}


.container .row:last-of-type .col:last-of-type {
  margin-left: 0px;
  border-left: 1px solid #8E8E8E;
}

.container .row:last-of-type .col:last-of-type {
  border-bottom-right-radius:7px;
}

.row .col:last-of-type {
  background: #F5923E;
  color: white;
  border-right: none;
  font-size:30px;
  font-weight: lighter;
  line-height: 33px;
}

.row:first-of-type .col {
  background: #999999;
  color:white;
  text-align: right;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
}

img {
  margin-left: -20px;
}

.row .x:last-of-type  {
  font-size: 18px;
  font-weight: lighter;
}

.plus {
  top: -3px;
  position: relative;
}

.minus {
  top: 3px;
  position: relative;
}

.slash {
  display:inline-block;
  -webkit-transform:scale(3,1); /* Safari and Chrome */
  -moz-transform:scale(3,1); /* Firefox */
  -ms-transform:scale(3,1); /* IE 9 */
  -o-transform:scale(3,1); /* Opera */
  transform:scale(3,1); /* W3C */
  font-weight: lighter;
}

#mydiv {
  position: absolute;
  z-index: 9;
}
